[Unit]
Description=Nextcloud cron.php job

[Service]
Type=oneshot
User=www-data
ExecStart=/usr/bin/php -f /var/www/html/nextcloud/cron.php

[Install]
WantedBy=basic.target
